<%- include('partials/header.ejs'); -%>


<div class="form">
    <h2 class="login-heading">Login</h2>
    <form action="/" method="post">
        <p><input type="text" placeholder="Email" name="email"></p>
        <p><input type="password" placeholder="Password" name="password"></p>
        <p><button class="form-submit" type="submit">Continue</button></p>
    </form>
    <p><span>New Here?</span> <a href="/register">Register</a></p>
</div>
    


<%- include('partials/footer.ejs'); -%>