<%- include('partials/header.ejs'); -%>

<div class="header">
    <h1 class="heading"><i class="fas fa-list-ol" ></i> To-Do's Reminder</h1>
</div>


<div class="form">
    <h2 class="login-heading">Login</h2>
    <p><input type="text" placeholder="Email"></p>
    <p><input type="text" placeholder="Password"></p>
    <p><button class="form-submit" type="submit">Continue</button></p>
    <p><span>New Here?</span> <a href="#">Register</a></p>
</div>
    


<%- include('partials/footer.ejs'); -%>