<%- include("partials/header") -%>

<div class="listContainer">
<% initialList.forEach(function(ListItem){ %>
    <form action="/delete" method="post">
        <div class="listItem">
            <input type="checkbox" name="checkbox" value="<%= ListItem._id %>" onchange="this.form.submit()">
            <p><%= ListItem.item %></p>
        </div>
        <input type="hidden">
    </form>
<% });%>
</div>
    

<form class="list" action="/list" method="post">
    <input type="text" placeholder="New Item" name="item">
    <button type="submit" >+</button>
</form>

<%- include("partials/footer") -%>